label {
    border-bottom: 6px solid #ccc;
    margin-right: 10px;
}

.wrapper {
    display: block;
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)
}

legend {
    margin-bottom: 10px;
}

.footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
    margin-top: 20px;
}